<!DOCTYPE html>
<html class="no-js" lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/navbar-top :: navbar-top"></div>

<body class="loader-active">
<div th:replace="fragments/head :: head"></div>
<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>ADMIN REJESTRACJA</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p style="font-size: 30px">&#8675;</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Utwórz konto Administratora</h3>
                        <form action="#" th:action="@{/admin/register_save}" th:object="${admin}" method="post">
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" th:field="*{firstName}" placeholder="Imię *">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" th:field="*{lastName}" placeholder="Nazwisko *">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" th:field="*{contactNumber}" placeholder="Numer telefonu *">
                                    </div>
                                </div>
                            </div>
                            <div class="username">
                                <input type="email" th:field="*{email}" placeholder="Email *">
                            </div>
                            <div class="password">
                                <input type="password" th:field="*{password}" placeholder="Hasło *">
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-check-square"></i> Zarejestruj !</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="create-ac">
                        <p>Masz konto?<a th:href="@{/admin/login}">Zaloguj się</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
<div th:replace="fragments/footer :: footer"></div>

</body>

</html>