<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="navbar-top">
        <!--== Preloader Area Start ==-->
        <div class="preloader">
            <div class="preloader-spinner">
                <div class="loader-content">
                    <img th:src="@{/assets/img/preloader.gif}" alt="JSOFT">
                </div>
            </div>
        </div>
        <!--== Preloader Area End ==-->

        <!--== Header Area Start ==-->
        <header id="header-area" class="fixed-top">
            <!--== Header Top Start ==-->
            <div id="header-top" class="d-none d-xl-block">
                <div class="container">
                    <div class="row">
                        <!--== Single HeaderTop Start ==-->
                        <div class="col-lg-3 text-left">
                            <i class="fa fa-map-marker"></i> Polska, Wrocław,
                            -<script>document.write(new Date().getDate());</script>
                            0<script>document.write(new Date().getMonth());</script>
                            -<script>document.write(new Date().getFullYear());</script>
                        </div>
                        <!--== Single HeaderTop End ==-->

                        <!--== Single HeaderTop Start ==-->
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-mobile"></i>
                            <span sec:authorize="isAnonymous()">
                                <span>Witaj nieznajomy </span>
                            </span>
                            <span sec:authorize="isAuthenticated()">
                                Witaj <span sec:authentication="name"></span>
                            </span>
                        </div>
                        <!--== Single HeaderTop End ==-->

                        <!--== Single HeaderTop Start ==-->
                        <div class="col-lg-3 text-center">
                            <i class="fa fa-money"></i>
                            <span th:text="${'€' +nbp_eur+ '|'}"></span>
                                <span th:text="${'$' +nbp_usd+ '|'}">

                                </span>
                                <span th:text="${'£' +nbp_gbp}">

                                </span>
                        </div>
                        <!--== Single HeaderTop End ==-->

                        <!--== Social Icons Start ==-->
                        <div class="col-lg-3 text-right">

                            <div class="header-social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a th:href="@{/user/logout}"><i class="fa fa-sign-out"></i>Sign-out</a>


                            </div>
                        </div>
                        <!--== Social Icons End ==-->
                    </div>
                </div>
            </div>
            <!--== Header Top End ==-->

            <!--== Header Bottom Start ==-->
            <div id="header-bottom">
                <div class="container">
                    <div class="row">
                        <!--== Logo Start ==-->
                        <div class="col-lg-4">
                            <a th:href="@{/}" class="logo">
                                <img th:src="@{/assets/img/logo.png}" alt="JSOFT">
                            </a>
                        </div>
                        <!--== Logo End ==-->

                        <!--== Main Menu Start ==-->
                        <div class="col-lg-8 d-none d-xl-block">
                            <nav class="mainmenu alignright">
                                <ul>
                                    <li class="active"><a th:href="@{/main}">Home</a>

                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a th:href="@{/parking/add_form}">services</a>
                                        <ul>
                                            <li><a th:href="@{/parking/add_form}">Dodaj miejsce parkingowe</a></li>
                                            <li><a th:href="@{/parking/list}">Zobacz listę parkingów</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Parkingi</a>
                                        <ul>
                                            <li><a th:href="@{/parking/list}">Wszystkie parkingi</a></li>
                                            <li><a href="car-details.html">Car Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="package.html">Pricing</a></li>
                                            <li><a href="driver.html">Driver</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="help-desk.html">Help Desk</a></li>
                                            <li><a href="login.html">Log In</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="article.html">Blog Page</a></li>
                                            <li><a href="article-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--== Main Menu End ==-->
                    </div>
                </div>
            </div>
            <!--== Header Bottom End ==-->
        </header>
        <!--== Header Area End ==-->
    </div>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }
            ;  // add zero in front of numbers < 10
            return i;
        }
    </script>
</div>
