<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add address</title>
</head>
<body>
<form action="#" th:action="@{/address/save}" th:object="${address}" method="post">
    <input type="number" th:value="${address.user}" th:field="*{user.id}" hidden="">

    <h2>add address form</h2><div>
   <label> City name</label> <input type="text" th:field="*{city}" name="City" placeholder="City">
</div>
    <div>
        <div>
            <select th:field="*{country}" >
                <option th:value="Polska">Poland</option>
                <option th:value="Another">AnotherSOmething</option>
            </select>
        </div>
    <label>Street</label><input type="text" th:field="*{street}" name="Street" placeholder="Street">
    </div>
    <div>
    <label>Street number</label><input type="number" th:field="*{streetNumber}" name="StreetNum" placeholder="Street number">
    </div>
    <div>
    <label>House number</label><input type="number" th:field="*{houseNumber}" name="houseNum" placeholder="House number">
    </div>
    <button type="submit">Wyslij</button>
</form>


</body>
</html>